* {
	margin: 0;
}

body {
	text-align: center;
	background-color: hsl(89, 35%, 54%);
}

#location,
#submit {
	font-size: 2rem;
	border-radius: 10px;
	padding: 0.8rem;
	font-weight: bold;
}

#submit {
	margin-left: 1rem;
	color: white;
	background-color: green;
}

#submit:hover {
	cursor: pointer;
}

.form {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}
.display {
	display: block !important;
}

#card {
	margin-top: 3rem;
	border-radius: 20px;
	width: 400px;
	display: none;
	border: 1px solid black;
	height: 600px;
	margin-left: 50%;
	box-shadow: 2px 1px 3px black;
	transform: translateX(-50%);
	background-image: linear-gradient(to bottom, hsl(195, 53%, 79%), hsl(60, 77%, 68%));
}

#sun {
	font-size: 5rem;
}

.error {
	margin-top: 3rem;
	font-size: 3rem;
	color: hsl(0, 61%, 56%);
	font-weight: bold;
}

.big {
	font-weight: bold;
	font-size: 2rem;
	margin-top: 2rem;
}
